.section-header{
    justify-self: left;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    font-size: 3rem;
    color:var(--header-section-color);
    letter-spacing: 5px;
    justify-self: center;
    line-height: 1;
    text-align: center;
    
}
