.portfolio-nav{
    display:flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 0 1rem;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.portfolio-nav a{
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    z-index: 1;
    transition: var(--transition);
}
.portfolio-nav a::before{
    content:'';
    position: absolute;
    top:100%;
    left:calc(50% - 5px);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background:var(--main-red);
    z-index: -1;
    opacity: 0;
    transition: var(--transition);
}
.portfolio-nav a:hover::before{
    opacity: 1;
}

.portfolio-nav a:hover{
    color:var(--font-color-dark-1)
}