
.skills .section-center{
    min-height: 100vh;
    overflow: hidden;
    
}


.skills-center{
    display: flex;
}
.skills-container{
    flex-grow: 1;
  
    z-index: 1;
    
    
}
.skills-wrapper-grid{
    
    display: grid;
    grid-template-columns: 200px;
    grid-auto-rows: 200px;
    justify-content: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
    row-gap: 10rem;
    
}
@media screen and (min-width:800px){
    .skills-wrapper-grid{
        grid-template-columns: 300px 300px;
        grid-auto-rows: 300px;
        justify-content: space-around;
    }
}
@media screen and (min-width:1200px) {
    .skills-wrapper-grid {
        grid-template-columns: 300px 300px 300px;
      
    }
}