.form {
    /* border:3px solid green; */
    color:var(--workNavColor);
    margin-top:20px;
    display: flex;
    flex-direction: column;
    gap:2rem;
    
    
}
.form-input{
    position: relative;
    width: 100%;
    height: 50px;
    
}
.form-textarea{
    position: relative;
    height: 200px;

}
input {
    width: 100%;
    background: none;
    border: 2px solid var(--workNavColor);
    outline: none;
    padding: 1rem;
    font-family: inherit;
    border-radius: 10px;
    color:white;
    font-size: 20px;
    height: 100%;
    
}
input:hover{
    border: 2px solid var(--main-color);
}
input:focus {
    border: 2px solid var(--focus-color)
}
.message{

    padding: 1rem;
    width: 100%;
    height: 200px;
    background: none;
    border:2px solid var(--workNavColor);
    outline: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}
.message:hover{
    border: 2px solid var(--main-color);
}
.message:focus {
    border: 2px solid var(--focus-color)
}
.label{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: 0;
    font-size: 20px;
    margin-left: 20px;
    transition: 0.3s linear;
    
}
input:focus ~ .label{
    top:-15%;
    font-size: 15px;
 
}
.message:focus ~ .label{
    top: -5%;
    font-size: 15px;
    
}
.form-btn{
    background-color: var(--main-red);
    letter-spacing: 3px;
    border-radius: 10px;
    padding: 5px 0;
    width: 80%;
    margin: 0 auto;
    max-width: 300px;
}
.form{
    
    animation: moveForm .3s linear alternate ;
}
@keyframes moveForm {
    from{
        transform: translateX(200%);
    }
    to{
        transform: translateX(0);
    }
}