.title-rotate{
    position: absolute;
        z-index: 1;
        transform-origin: left;
        transform: rotate(90deg);
        background-color: wheat;
        font-size: 50px;
        line-height: 0;
        top: 50%;
        left: 5%;
        transform: rotate(90deg) translate(-50%);
        letter-spacing: 3px;
        opacity: 0.1;
        line-height: 0;
        text-transform: uppercase;
}
.title-rotate::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 5px;
    background-color: red;
    top: 50%;
    right: -35%;
}

.title-rotate::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 5px;
    background-color: red;
    top: 50%;
    left: -35%;
}
@media screen and (min-width:800px) {
    .title-rotate {
        font-size: 80px;
    }

}