/* .icons {
    
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    
}

.icons-text {
    display: flex;
    gap: 10px;
    transform: rotate(90deg);
    text-transform: capitalize;
}

.icons-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.icons-container a {
    opacity: 0.5;
    position: relative;
    transition: all 0.3s linear;
}

.icons-container a::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    top: -10px;
    left: -10px;
    z-index: -1;
    transition: all 0.3s linear;
}

.icons-container a:hover {
    opacity: 1;
}

.icons-container a:hover::after {
    top: 5px;
    left: 5px;
} */

.icons-wrapper{
    /* padding: 0 2rem; */
    /* border:2px solid pink; */
    /* width: 25px; */
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.arrow-down{
    width: 10px;
}
.icons-text{
    writing-mode: vertical-lr;
  
}
.icons-container{
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap:2rem;
}
.icons-container a {
    opacity: 0.6;
    position: relative;
    transition: all 0.3s linear;
    z-index: 1;
}
.icons-container a::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: var(--main-red);
    border-radius: 50%;
    top: -10px;
    left: -10px;
    z-index: -1;
    transition: all 0.3s linear;
}
.icons-container a:hover {
    opacity: 1;
}
.icons-container a:hover::after {
    opacity: 1;
    top: 5px;
    left: 5px;
}
.arrow-down{
    animation:arrowMoveDown .8s infinite ease-in-out alternate;
}
@keyframes arrowMoveDown {
    to {
        transform: translateY(5px) scale(1.2);
    }
}